Data processing doc:


Input: 
- Single excel file with a collection of sheets containing accessory list for a vehicle model.


Load:

    File load 
       - Pass the file directory into the load_file function to load the file into a dictionary of dataframes. The keys of the dictionary are the sheet names, and the values are the dataframes containing the data from each sheet.
        